<section class="quiz">
    <div class="quiz__bg"></div>
    <div class="quiz__close">
                <img src="images/close.png" alt="close">
            </div>
    <div class="quiz__content">
        <div class="final__wrapper">
        <div class="quiz__reg">Thank you for registration</div>
        <div class="quiz__left">
            <div class="quiz__left-back">
                <img src="images/back.png" alt="back">
            </div>
            <div class="quiz__left-title">GSM discovery call</div>
            <div class="quiz__left-time">30 min</div>
            <div class="quiz__left-date">01:00 - 01:30, Friday, September, 9, 2022</div>
            <div class="quiz__left-zone">New-York Time</div>
            <div class="quiz__left-meet">Web conferencing details to follow</div>
            <div class="quiz__left-info">A calendar invitation has been sent to your email address</div>
        </div>
        <div class="quiz__bottom">
            <div class="quiz__bottom-title">Simple. Automated. Sheduling.</div>
            <form action="#" class="quiz__bottom-form" method="get">
                <div class="quiz__bottom-group">
                    <input type="text" placeholder="Your e-mail" >
                    <button class="quiz__bottom-btn" type="submit">Sign up for free</button>
                </div>
            </form>
        </div>
        </div>
        <div class="quiz__right">
            <div class="quiz__right-title">
                Select date and time
            </div>
            {{!-- <div class="quiz__right-close">
                <img src="images/close.png" alt="close">
            </div> --}}
            <div class="quiz__right-group">
                <div class="quiz__right-calendar">
                    <table id="calendar2">
                    <thead>
                        <tr><td class="prev"><td colspan="5" class="month"><td class="next">
                        <tr><td>Mon<td>Tue<td>Wed<td>Thu<td>Fri<td>Sat<td>Sun
                    <tbody>
                    </table>
                </div>
                <div class="quiz__freetime">
            <div class="quiz__freetime-title">Thursday, September, 12</div>
            <ul class="quiz__freetime-list">
                <li class="quiz__freetime-item">
                    <span class="quiz__freetime-text">00:00</span>
                    <span class="quiz__freetime-btn">Confirm</span>
                </li>
                <li class="quiz__freetime-item">
                    <span class="quiz__freetime-text">00:30</span>
                    <span class="quiz__freetime-btn">Confirm</span>
                </li>
                <li class="quiz__freetime-item">
                    <span class="quiz__freetime-text">01:00</span>
                    <span class="quiz__freetime-btn">Confirm</span>
                </li>
                <li class="quiz__freetime-item">
                    <span class="quiz__freetime-text">01:30</span>
                    <span class="quiz__freetime-btn">Confirm</span>
                </li>
                <li class="quiz__freetime-item">
                    <span class="quiz__freetime-text">02:00</span>
                    <span class="quiz__freetime-btn">Confirm</span>
                </li>
            </ul>
        </div>
            </div>
            <div class="quiz__right-time">
                <span class="select__zone1">New-York Time (10:55)</span> 
                <div class="quiz__right-time_modal">
                    <div class="quiz__right-modal__close">
                        <img src="images/close.png" alt="close">
                    </div>
                    <input class="quiz__right-time_modal-input" type="text" placeholder="Search...">
                    <div class="quiz__right-time_modal-top">
                        <div class="quiz__right-time_modal-zone">time zone</div>
                        <div class="quiz__right-time_modal-checkbox">
                            <span>am/pm</span>
                                <div>
                                    <label class="toggler-wrapper style-3">
                                    <input type="checkbox" >
                                    <div class="toggler-slider">
                                        <div class="toggler-knob"></div>
                                    </div>
                                    </label>
                                </div>
                            <span>24h</span>
                        </div>
                    </div>
                    <div class="zone-selector">
                        <div class="zone-selector__title">us / canada</div>
                        <ul class="zone-selector__list">
                            <li class="zone-selector__item">
                                <span>Pacific Time - US & Canada</span>
                                <span>01:17</span>
                            </li>
                            <li class="zone-selector__item">
                                <span>Pacific Time - US & Canada</span>
                                <span>01:17</span>
                            </li>
                            <li class="zone-selector__item">
                                <span>Pacific Time - US & Canada</span>
                                <span>01:17</span>
                            </li>
                            <li class="zone-selector__item">
                                <span>Pacific Time - US & Canada</span> 
                                <span>01:17</span>
                            </li>
                            <li class="zone-selector__item">
                                <span>Pacific Time - US & Canada</span>
                                <span>01:17</span>
                            </li>
                            <li class="zone-selector__item">
                                <span>Pacific Time - US & Canada</span>
                                <span>01:17</span>
                            </li>
                            <li class="zone-selector__item">
                                <span>Pacific Time - US & Canada</span>
                                <span>01:17</span>
                            </li>
                            <li class="zone-selector__item">
                                <span>Pacific Time - US & Canada</span>
                                <span>01:17</span>
                            </li>
                            <li class="zone-selector__item">
                                <span>Pacific Time - US & Canada</span>
                                <span>01:17</span>
                            </li>
                            <li class="zone-selector__item">
                                <span>Pacific Time - US & Canada</span>
                                <span>01:17</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <section class="forms">
                {{!-- <div class="forms__content"> --}}
                <form action="#" class="form__guest" method="get">
                    <div class="input__group">
                        <div class="input__title">Name*</div>
                        <input type="text" class="forms__input" placeholder="Your name">
                    </div>
                    <div class="input__group">
                        <div class="input__title">E-mail*</div>
                        <input type="email" class="forms__input" placeholder="Your e-mail">
                    </div>
                    <div class="input__group input__group_guest">
                        <div class="input__title">Guests e-mails*</div>
                        <input type="email" class="forms__input" placeholder="Guest e-mail">
                    </div>
                    <button class="forms__button" id="button__guest" type="button">Add guests</button>
                </form>
                <form action="" class="form__event" method="get">
                    <div class="input__group">
                        <div class="input__title">Please share anything that will help prepare for our meeting.</div>
                        <textarea class="forms__input forms__input_textarea" name="textarea" id="" cols="30" rows="10" placeholder="Text"></textarea>
                    </div>
                    <div class="input__group">
                        <div class="input__title">Phone number*</div>
                        <div class="input__wrap">
                            <input type="tel" id="tel" class="forms__input" placeholder="+1">
                        </div>
                    </div>
                    <div class="input__group">
                        <div class="input__title">Send text message to</div>
                        <div class="input__wrap">
                            <input type="text" class="forms__input">
                        </div>
                        <div class="input__subtitle">You will opt in to text messages for this event. Message and data rates may apply. Reply STOP to opt out.</div>
                    </div>
                    <button class="forms__button forms__button_bottom" type="submit">Schedule event</button>
                </form>
                {{!-- </div> --}}
            </section>  
        </div>
        
    </div>
</section>
